<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- cfg datasource class as spring bean -->
	<bean id="drds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="SYSTEM" />
		<property name="password" value="SYSTEM" />
	</bean>

	<!-- cfg DAO class -->
	<bean id="studDAO" class="com.nit.dao.StudentDAOImpl">
		<constructor-arg ref="drds" />
	</bean>

	<!-- cfg Service class -->
	<bean id="studService"
		class="com.nit.service.StudentOperationServiceImpl">
		<constructor-arg ref="studDAO" />
	</bean>

	<!-- cfg controller class -->
	<bean id="studController"
		class="com.nit.controller.MainController">
		<constructor-arg ref="studService" />
	</bean>
</beans>
